<style>
    .dropdown-content{

}
    </style>

<nav>

    <div class="nav-wrapper teal">
        <div class="container">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="left hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li id="newcalendar_nav" >
                <a href="{% url 'newcalendar' %}">Nieuwe Agenda</a></li>
            <li id="mycalendars_nav">
                <a   href="{% url 'mycalendars' %}">Mijn Agenda's</a></li>
            {% endif %}
        </ul>

        <ul class="right hide-on-med-and-down">

            {% if user.is_authenticated %}

            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-button" class="{{user}}" style="overflow: visible !important;" href="#" data-activates="d1" data-beloworigin="true">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a>
                <!-- Dropdown Structure -->
                <ul id="d1" class="dropdown-content">
                    <li><a href="{% url 'user_settings' %}">Profiel</a></li>
                    {% if user.is_admin %}
                        <li><a href="{% url 'settings' %}">Instellingen</a></li>
                    {% endif %}

                  <li><a href="{% url 'logout' %}">Uitloggen</a></li>
                </ul>
            </li>

            {% endif %}



        </ul>
        </div>

    </div>
</nav>

{% if user.is_authenticated %}

    <ul class="container navbar-fixed side-nav" id="mobile-demo">
        <li class="{{newcalendar}}"><a  href="{% url 'newcalendar' %}">Nieuwe Agenda</a></li>
        <li class="{{mycalendars}}"><a  href="{% url 'mycalendars' %}">Mijn Agenda's</a></li>
        <li><a href="{% url 'user_settings' %}">Profiel</a></li>
        {% if user.is_admin %}
            <li><a href="{% url 'settings' %}">Instellingen</a></li>
        {% endif %}
        <li class="{{logout}}"><a  href="{% url 'logout' %}">Uitloggen</a></li>
    </ul>
{% endif %}








