<div>
    <!-- Modal Structure -->
    <div id="FilterEditor" class="modal" style="width: 75%; height: 50%;">
        <div class="modal-content">
            <h4 id="filterTitle">FilterNaam</h4>
            <ul>
                <li>{% include "new_calendar/filter/filter_attributes.html" %}</li>
            </ul>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat saveFilterAttribute">Opslaan</a>
        </div>
    </div>

</div>
