.icon-postfix
{
  color: initial;
  position: absolute;
  right: 3rem;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  line-height: 10px !important;

}

.info-icon-postfix
{
  @extend .icon-postfix;
  right: 1rem;
}