.container-logo{
  float: right;
  position: absolute;
  right: 0;
  background-repeat:no-repeat;
  background-size:cover;
  padding: 10px 10px ;
}

.container-logo img{
  max-width: 150px;
  max-height:70px;
  background-repeat:no-repeat;
  background-size:cover;
}
